.contact {
    background: var(--background);
    height: 100vw;
}

#contact-form {
    margin: auto;
    margin-top: 5vw;
    background-color: var(--highlight-2);
    width: 80%;
    height: 40%;
    border-radius: 2vw;
    padding: 2vw;;
}

.sender {
    display: flex;
    flex-direction: row;
}
.sender > input, #subject {
    flex-grow: 1;
    background-color: var(--background);
    border: none;
    border-radius: 1.5vw;
    margin: 1vw;
    padding: 1vw;
    font-size: 1.5vw;
}

#subject {
    display: block;
    width: 80%;
}