
.projects {
    margin: 10vw 0;
    aspect-ratio: 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 100vw;
}

.project {
    opacity: 0;
    aspect-ratio: 16 / 9;
    text-align: center;
    position: absolute;
    width: 35vw;
    padding: 0.5vw;
    top: 0;
    background-color:  var(--background);
    border-radius: 1vw;
    /* padding: 0.5vw; */
    border: var(--highlight) 0.5vw solid;
    transition: all 0.5s;
    box-sizing: border-box;
}
.project::after {
    /* box-shadow: inset 0vw 0vw 2vw rgba(0, 0, 0, 0.295); */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    translate: -0.5vw;
    border-radius:  1vw;
    top: 0;
    width: 100%;
}

.project-title {
    color: var(--text-1);
    position: absolute;
    font-size: 3vw;
    font-weight: 600;
    width:100%;
    text-align: center; 
    transform: translateY(-5vw);
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    box-sizing: border-box;
    object-fit: cover;
    display: block;
}
@keyframes pulse {
    0%, 100% {
        border-color: var(--highlight);
    }
    50% {
        border-color: transparent;
    }
}
/* .project::before {
    transition-duration: 500ms;
    content: '';
    position: absolute;
    bottom: -4vw;
    left: 50%;
    transform: translateX(-50%) ;
    width: 75%;
    height: 2vw;
    background-color: var(--highlight);
    border-radius: 50%;
} */

.proj-left-hidden {
    transform: translateX(60%) scale(0.7);
    opacity: 0;
    z-index: 0;
}
.proj-right-hidden {
    transform: translateX(-60%) scale(0.7);
    opacity: 0;
    z-index: 0;
}
.proj-left {
    transform: translateX(-70%) scale(0.8) rotateY(-20deg);
    z-index: 1;
    opacity: 1;
}
.proj-center {
    transform: translateX(0) scale(1);
    border: var(--highlight) 0.5vw solid;
    box-shadow: var(--background) 0 0 1vw;
    opacity: 1;
    z-index: 2;
}
.proj-center:hover {
    cursor: pointer;
    /* transform: translateY(-2vw);    */
    transform: scale(110%);
}
.proj-center::after {
    transition: ease-in 150ms;
    background-color: rgba(0, 0, 0, 0.5);
    content: 'Click to Learn More';
    color: white;
    font-size: 2vw;
    line-height: 21vw;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
}
.proj-center:hover::after {
    opacity: 100%;
}

.proj-right {
    transform: translateX(70%) scale(0.8) rotateY(20deg);
    opacity: 1;
    z-index: 1;
}

.nav-buttons {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    background: var(--highlight);
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    box-shadow: var(--background) 0vw 0.3vw 0;
}

.nav-buttons > div, .nav-buttons > div > span{
    color: var(--text-2);
    font-size: 1.5vw;
}

#left-button, #right-button {
    transition: 0.5s;
    fill: var(--background);
    height: 1.5vw;
    width: 1.5vw;
}

#left-button:hover, #right-button:hover {
    cursor: pointer;
}

.tech-list {
    position: absolute;
    width:100%;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    transform: translateY(2vw);
}

.tech-item {
    background-color: var(--highlight);
    padding: 0.5vw  0.75vw ;
    border-radius: 1vw;
    color: var(--text-2);
    font-size: 1vw;
}